<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>139.162.58.91:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <context/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    <pattern>
                        {
                        "appName": "auth-service"
                        }
                    </pattern>
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="com.ptfmobile.auth" additivity="false" level="info">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

    <springProfile name="gogroup">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="com.ptfmobile.auth" additivity="false" level="info">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>


    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="logstash"/>
        </root>
        <logger name="com.ptfmobile.auth" additivity="false" level="info">
            <appender-ref ref="logstash"/>
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

    
    <springProfile name="k8s">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="logstash"/>
        </root>
        <logger name="com.ptfmobile.auth" additivity="false" level="info">
            <appender-ref ref="logstash"/>
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>
</configuration>